<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pure Sugar Wax and Brows offering Weekday and Weekend specials for Sugaring, Threading and Eyebrows Tinting, Full Body Waxing, Henna Art, 
    Eyelashes, Facials and more.">
    <meta name="author" content="">

    <title>Pure Sugar Wax And Brows</title>

    <!-- Browser fav icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Pure Sugar Wax And Brows</span>
      <span class="site-heading-lower">Threading And Waxing</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Pure Sugar Wax And Brows</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="services">services</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="gallery">Gallery</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <!--<span class="section-heading-upper">Waxing</span>-->
                <span class="section-heading-lower">Waxing </span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/bodywax.jpg" alt="">
          <div class="product-item-description d-flex mr-auto">
            <!--<div class="bg-faded p-5 rounded">
              <p class="mb-0">Pure Sugar Wax and Brows offering eyebrow threading and tinting, full body wax, henna art, 
              eyelashes, hot oil therapy and skin lightning. As a client you will experience a star treatment with us.</p>
            </div>-->
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <!--<span class="section-heading-upper">Eyebrow Threading</span>-->
                <span class="section-heading-lower">Threading &amp; Tinting</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/eyebrows.jpg" alt="">
          <div class="product-item-description d-flex ml-auto">
            <!--<div class="bg-faded p-5 rounded">
              <p class="mb-0">Pure Sugar Wax and Brows offering eyebrow threading and tinting, full body wax, henna art, 
              eyelashes, hot oil therapy and skin lightning. As a client you will experience a star treatment with us.</p>
            </div>-->
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <!--<span class="section-heading-upper">Hot oil Therapy</span>-->
                <span class="section-heading-lower">Hot Oil Therapy</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/facial.jpg" alt="">
          <div class="product-item-description d-flex mr-auto">
            <!--<div class="bg-faded p-5 rounded">
              <p class="mb-0">Pure Sugar Wax and Brows offering eyebrow threading and tinting, full body wax, henna art, 
              eyelashes, hot oil therapy and skin lightning. As a client you will experience a star treatment with us.</p>
            </div>-->
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <!--<span class="section-heading-upper">Facial</span>-->
                <span class="section-heading-lower">Skin Lighting &amp; Body Polish</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/manicure.jpg" alt="">
          <div class="product-item-description d-flex ml-auto">
            <!--<div class="bg-faded p-5 rounded">
              <p class="mb-0">Pure Sugar Wax and Brows offering eyebrow threading and tinting, full body wax, henna art, 
              eyelashes, hot oil therapy and skin lightning. As a client you will experience a star treatment with us.</p>
            </div>-->
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <!--<span class="section-heading-upper">Hair Style</span>-->
                <span class="section-heading-lower">Facials</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/Hairstyle.jpg" alt="">
          <div class="product-item-description d-flex ml-auto">
            <!--<div class="bg-faded p-5 rounded">
              <p class="mb-0">Pure Sugar Wax and Brows offering eyebrow threading and tinting, full body wax, henna art, 
              eyelashes, hot oil therapy and skin lightning. As a client you will experience a star treatment with us.</p>
            </div>-->
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <!--<p class="m-0 small">Copyright &copy; Your Website 2018</p>-->
        <p class="m-0 small">Follow US On 
            <a target="_blank" title="find us on Facebook" href="https://www.facebook.com/Pure-Sugar-Wax-And-Brows-234402500443590/?modal=admin_todo_tour">
              <img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0>
            </a>
            <!-- Place this code where you want the badge to render. -->
            <a href="//plus.google.com/u/0/113065837207473424924?prsrc=3" rel="publisher" target="_top" style="text-decoration:none;">
              <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
            </a>
            <a target="_blank" title="follow me on twitter" href="https://twitter.com/puresugarbrows">
              <img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter-b_30x30.png" border=0>
            </a> 
            <a target="_blank" title="follow me on instagram" href="https://www.instagram.com/puresugarbrows/">
              <img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0>
            </a>
          </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

