<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pure Sugar Wax And Brows</title >

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Pure Sugar Wax And Brows</span>
      <span class="site-heading-lower">Threading And Waxing</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Pure Sugar Wax And Brows</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="services">Services</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="gallery">Gallery</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">We're Open </span>
                <span class="section-heading-lower">10 AM - 7 PM</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  <b>Threading</b>
                  <span class="ml-auto">-----</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Eyebrows
                  <span class="ml-auto">$8</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Upper/Lower Lips
                  <span class="ml-auto">$4</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Chin/Lower Chin
                  <span class="ml-auto">$5</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Sides
                  <span class="ml-auto">$8</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Fore Head
                  <span class="ml-auto">$5</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                    Eyebrows/Tinting
                    <span class="ml-auto">$25</span>
                  </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Full Face
                  <span class="ml-auto">$25</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Full Face with Neck
                  <span class="ml-auto">$30</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  <b>Waxing</b>
                  <span class="ml-auto">-----</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                    Eyebrows
                    <span class="ml-auto">$8</span>
                  </li><li class="list-unstyled-item list-hours-item d-flex">
                      Full Face Wax 
                      <span class="ml-auto">$30</span>
                    </li>

                <li class="list-unstyled-item list-hours-item d-flex">
                  Brazilian
                  <span class="ml-auto">$25</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Bikini
                  <span class="ml-auto">$18</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Full/Half Legs
                  <span class="ml-auto">$35/$18</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Full/Half Arms
                  <span class="ml-auto">$35/$18</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Under Arms
                  <span class="ml-auto">$8</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                    <b>More Services</b>
                    <span class="ml-auto">-----</span>
                  </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                    Body Polish
                    <span class="ml-auto">$80</span>
                  </li>
                  <li class="list-unstyled-item list-hours-item d-flex">
                      Hot Oil Therapy
                      <span class="ml-auto">$20</span>
                    </li>
                    <li class="list-unstyled-item list-hours-item d-flex">
                        Henna Art
                        <span class="ml-auto">$10 And UP</span>
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex">
                          Skin Bleach
                          <span class="ml-auto">$15</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Skin Lighting Treatment
                            <span class="ml-auto">$20 And UP</span>
                          </li>
                                              
                
              </ul>
              <div>
                  <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/specialpackage.png" alt="">
              </div>
              <p class="address mb-5">
                <em>
                  <strong></strong>
                  <br>
                  Monday closed
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Call Anytime</em>
                </small>
                <br>
                (678) 243-5932
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--<section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/aboutbg.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                  <span class="section-heading-lower">About Our Cafe</span>
                </h2>
                <p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.</p>
                <p class="mb-0">We guarantee that you will fall in
                  <em>lust</em>
                  with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <!--<p class="m-0 small">Copyright &copy; Your Website 2018</p>-->
        <p class="m-0 small">Follow US On 
          <!-- Place this code where you want the badge to render. -->
          <a href="//plus.google.com/u/0/113065837207473424924?prsrc=3" rel="publisher" target="_top" style="text-decoration:none;">
          <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
        </a>
          </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  <!-- Script to highlight the active date in the hours list -->
  <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>

</html>
